.container {
    width: 100%;
    height: 100vh;
    background-color: ghostwhite;
    padding: 20px;
}

.task-list {
    display: flex;
    flex-direction: column;
    border: solid 2px #333;
    height: 400px;
    margin: auto;
    width: 1000px;
    overflow-y: scroll;
}

.input-list {
    margin: auto;
    width: 1000px;
}

.input-list input {
    width: 90%;
    padding: 20px;
}

.text_ {
    font-size: 30px;
    padding: 5px;
    border-bottom: solid 1px #333;
}

.input-list button {
    padding: 5px 10px 5px 10px;
    color: ghostwhite;
    background-color: blue;
    border: none;
}